:root
{
    --global-sides-padding: 20px;
}

/* Header  */

header
{
    flex-direction: column;
    padding: 0;
    align-items: center;
}

header img
{
    margin: 30px 0;
}

nav
{
    width: 100%;
}

nav p
{
    width: 50%;
    padding: 13px 0;
    margin: 0 0 35px 0;
    
    border-top: 0px;
    border-bottom: 3px solid var(--light-grey);
}

nav p:active
{
    border-color: var(--dark-blue);
}

/* Main  */

/* Search Section  */

#section-search-title h1
{
    margin-bottom: 15px;
}

#search-form
{
    margin-top: 35px;
    margin-bottom: 35px;
    /* DOESN'T WORK !?! */
    /* margin: 35px, 0, 35px, 0; */
}

#section-search form
{
    width: 100%;
}

#location-input
{
    padding-left: 15px;
    flex-grow: 1;
    min-width: 10px;
}

#search-button
{
    display: none;
}

#search-icon
{
    display: initial;
}

#filters, #information
{
    margin-left: 0;
}

#filters
{
    flex-direction: column;
}

#filters h2
{
    margin-left: 0;
}

#filters-list
{
    gap: 10px;
}

.filters-list-item
{
    font-size: 16px;
}

/* Accomodations section */

#section-accomodations
{
    padding: 0;
    flex-direction: column-reverse;
    gap: 0;
}

#accomodations-marseille, #accomodations-most-popular
{
    padding-left: var(--global-sides-padding);
    padding-right: var(--global-sides-padding);
    flex-basis: 100%;

    border-radius: 0;
}

#accomodations-marseille
{
    background-color: white;
}

#accomodations-marseille-list
{
    flex-direction: column;
}

.card-vertical
{
    flex-basis: 100%;
}

.card-image-horizontal
{
    margin-right: 10px;
}

/* Activities section */

#section-activities
{
    margin-top: 0;
}

#activities-list
{
    flex-direction: row;
    height: initial;
    row-gap: 25px;
}

.activity
{
    height: 190px;
    flex-basis: 100%;
}

/* Footer */

footer
{
    flex-direction: column;
    gap: 45px;
}

.footer-column
{
    padding-left: 10px;
}