:root
{
    --global-sides-padding: 20px;
    --activity-gap: 24px;
}

/* Header  */

header
{
    flex-direction: column;
    padding: 0;
    align-items: center;
}

header img
{
    margin: 30px 0;
}

nav
{
    width: 100%;
}

nav p
{
    width: 50%;
    padding: 13px 0;
    margin: 0 0 35px 0;
    
    border-top: 0px;
    border-bottom: 3px solid var(--light-grey);
}

nav p:active
{
    border-color: var(--dark-blue);
}

/* Main  */

/* Search Section  */

#section-search-title h1
{
    margin-bottom: 15px;
}

#search-form
{
    margin: 35px 0;
}

#section-search form
{
    width: 100%;
}

#location-input
{
    padding-left: 15px;
    padding-right: 22px;
    flex-grow: 1;
    min-width: 10px;
}

#search-button /* S1 */
{
    margin-left: -20px;
    width: 52px;

    border-radius: 15px;
}

#search-button:before
{
    /* Icon */
    display: initial;
}

#search-button:after
{
    /* Text */
    display: none;
}

#filters, #information
{
    margin-left: 0;
}

#filters
{
    flex-direction: column;
}

#filters h2
{
    margin-left: 0;
}

#filters-list
{
    gap: 10px;
}

.filters-list-item
{
    font-size: 16px;
}

/* Accomodations section */

#section-accomodations
{
    padding: 0;
    flex-direction: column-reverse;
    gap: 0;
}

#accomodations-marseille, #accomodations-most-popular
{
    padding-left: var(--global-sides-padding);
    padding-right: var(--global-sides-padding);
    flex-basis: 100%;

    border-radius: 0;
}

#accomodations-marseille
{
    background-color: white;
}

#accomodations-most-popular-list
{
    flex-direction: row;
    flex-wrap: wrap;
}

.card
{
    /* Fix the max width to display 2 card on the same line, and prevent the last one to fill the whole line */
    flex-basis: 100%;
    max-width: calc(50% - 15px);
}

/* Activities section */

#section-activities
{
    margin-top: 0;
}

#activities-list /* S4 */
{
    /* Height for 3 cards */
    height: calc(3 * 190px + 2 * var(--activity-gap));
}

.activity
{
    height: 190px;
    /* Width to have the gap between the 2 columns */
    width: calc(50% - var(--activity-gap)/2);
}

.activity:nth-child(2n)
{
    /* Reorder the cards to simulate an horizontal order (but we have a vertical order) */
    order: 1;
}

/* Footer */

#footer-content
{
    flex-direction: column;
    gap: 45px;
}

.footer-column
{
    padding-left: 10px;
}