:root
{
    --light-blue: #DEEBFF;
    --dark-blue: #0065FC;
    --light-grey: #F2F2F2;
    --dark-grey: #D9D9D9;
}

 *
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body
{
    margin: 0 0 0 0;
}

#main-wrapper
{
    margin: 0 30px;
}

p
{
    font-size: 17px;
    font-weight: 400;
}

h1
{
    margin-top: 35px;
    font-size: 26px;
    font-weight: 700;
}

h2, .h2
{
    margin: 0;

    font-size: 19px;
    font-weight: 700;
}

h3
{
    margin: 0;

    font-size: 19px;
    font-weight: 700;
}

/* Header  */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header img
{
    margin-left: 20px;
    object-fit: contain;
}

nav
{
    display: flex;
    margin: 0 0 0 0;
    padding-left: 0;
}

nav p
{
    padding: 40px 30px 20px 30px;
    margin: 0 0 0 0;
    text-align: center;

    border-top: 4px solid transparent;
}

nav p:hover
{
    border-color: var(--dark-blue);
}

nav a, nav a:visited
{
    color: inherit;
    text-decoration: none;
}

/* Main  */

/* Search Section  */

#section-search form
{
    height: 50px;
    display: flex;
    vertical-align: middle;
}

.form-item
{
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#location-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

    font-size: 19px;
    
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 15px 0 0 15px;
}

#location-input
{
    padding-left: 20px;
    border: 1px solid var(--light-grey);
    border-radius: 0;
    border-right: 0;
}

#search-button
{
    padding: 0 20px 0 20px;
    border-radius: 0 15px 15px 0;

    cursor: pointer;
}

#search-icon
{
    border-radius: 15px;
    display: none;
}

#search-button, #search-icon
{
    color: white;
    background-color: var(--dark-blue);
    border-width: 0;
}

#search-icon
{
    font-size: 19px;
    min-width: 50px;
    margin-left: -20px;
}

#filters
{
    display: flex;
    margin-top: 35px;
}

#filters h2
{
    margin-right: 40px;
    line-height: 50px;
}

#filters-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filters-list-item
{
    display: flex;
    height: 50px;

    border: 2px solid var(--dark-grey);
    border-radius: 25px;
    border-left: 0;
    cursor: pointer;
}

.filters-list-icon
{
    margin: -2px -2px -2px -2px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 19px;

    color: var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 25px;
}

.filters-list-text
{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 20px;
    height: 100%;
}

.filters-list-item:hover
{
    color:var(--dark-blue);
    border-color: var(--dark-blue);
}

#information
{
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#information-icon
{
    height: 26px;
    width: 26px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: var(--dark-blue);

    border: 2px solid var(--dark-grey);
    border-radius: 13px;
}

#information p
{
    margin: 0;

    line-height: 26px;
}