:root
{
    --light-blue: #DEEBFF;
    --dark-blue: #0065FC;
    --light-grey: #F2F2F2;
    --dark-grey: #D9D9D9;
    --global-sides-padding: 50px;
    --activity-base-height: 445px;
    --activity-gap: 40px;
}

 *
{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, main, #footer-content
{
    max-width: 1440px;
    width: 100%;
}

footer
{
    width: 100%;
}

p, .p, h1, h2, .h2, h3
{
    margin: 0;
}

p, .p
{
    font-size: 16px;
    font-weight: 400;
}

strong
{
    font-weight: 600;
}

h1, h2, .h2, h3
{
    font-weight: 700;
}

h1
{
    font-size: 22px;
}

h2, .h2
{
    font-size: 18px;
}

h3
{
    font-size: 16px;
}

/* Header  */

header
{
    display: flex;
    padding: 0 var(--global-sides-padding);
    justify-content: space-between;
    align-items: center;
}

header img
{
    margin-left: 20px;
    height: 29px ;
    object-fit: contain;
}

nav
{
    display: flex;
    margin: 0 0 0 0;
    padding-left: 0;
}

nav p
{
    margin: 0 0 50px 0;
    padding: 50px 30px 10px 30px;
    text-align: center;

    border-top: 2px solid transparent;
}

nav p:hover
{
    border-color: var(--dark-blue);
}

nav a, nav a:visited
{
    color: inherit;
    text-decoration: none;
}

/* Main  */

section
{
    padding: 0 var(--global-sides-padding);
}

/* Search Section  */

#section-search
{
    margin: 0 0 35px 0;
}

#section-search-title h1
{
    margin-bottom: 10px;
}

#search-form
{
    margin: 20px 0 30px 0;
}

#section-search form
{
    display: flex;
    height: 52px;
    vertical-align: middle;
}

.form-item
{
    margin: 0;
    padding: 0;
    height: 100%;
}

#location-icon
{
    display: flex;
    width: 52px;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    border-radius: 15px 0 0 15px;
}

#location-input
{
    padding-left: 15px;

    border: 1px solid var(--light-grey);
    border-radius: 0;
    border-right: 0;
}

#location-input:focus
{
    /* Negative margins to have a bigger border when focused */
    margin-left: -1px;
    margin-right: -2px;

    outline: 0;
    border: 2px solid var(--dark-blue);
}

#search-button
{
    padding: 0 15px;

    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

#search-icon
{
    display: none;
    width: 52px;

    border-radius: 15px;
}

#search-button, #search-icon
{
    color: white;
    background-color: var(--dark-blue);
    border-width: 0;
}

#search-icon
{
    margin-left: -20px;
    min-width: 50px;

    font-size: 17px;
}

#filters
{
    display: flex;
    margin-bottom: 35px;;
}

#filters, #information
{
    margin-left: 5px;
}

#filters h2
{
    margin-left: 4px;
    margin-right: 35px;

    line-height: 50px;
}

#filters-list
{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.filters-list-item
{
    display: flex;
    padding: 0 15px 0 5px;
    height: 50px;
    align-items: center;
    gap: 15px;
    
    font-size: 18px;
    font-weight: 700;

    background-color: white;
    border: 2px solid var(--dark-grey);
    border-radius: 25px;
    cursor: pointer;
}

.filters-list-icon:before
{
    /* Style the before element, as FontAwesome adds icons before the element */
    display: flex;
    margin: -3px -8px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;

    font-size: 19px;

    color: var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 50%;
}

.filters-list-item:hover
{
    color:var(--dark-blue);
    border-color: var(--dark-blue);
    background-color: var(--light-grey);
}

#information
{
    display: flex;
    /* margin-top: 30px; */
    justify-content: flex-start;
    align-items: flex-start;
}

#information-icon
{
    display: flex;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: var(--dark-blue);

    border: 2px solid var(--dark-grey);
    border-radius: 50%;
}

#information p
{
    line-height: 24px;
}

/* Accomodations section */

#section-accomodations
{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    gap: 40px;
    justify-content: space-between;
}

#accomodations-marseille, #accomodations-most-popular
{
    padding: 40px 40px 10px 40px;

    background-color: var(--light-grey);
    border-radius: 20px;
}

#accomodations-marseille
{
    flex-basis: 66.7%;
}

#accomodations-most-popular
{
    flex-basis: 33.3%;
}

#accomodations-marseille-list, #accomodations-most-popular-list
{
    display: flex;
    margin: 25px 0;
    gap: 30px;
}

#accomodations-marseille-list
{
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
}

#accomodations-most-popular-list
{
    flex-direction: column;
}

#accomodations-most-popular-header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#accomodations-most-popular-header i
{
    font-size: 22px;
}

#accomodations-marseille-more
{
    margin: 20px 0;
}

#accomodations-marseille-more a
{
    color: inherit; 
    text-decoration: none;
}

/* Cards */

.card
{
    display: flex;
    margin: 0 0 0 0;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 20px var(--dark-grey);
    /* Remove hypertext decoration (<a> tag) */
    color: inherit; 
    text-decoration: none;
}

.card-vertical
{
    /* flex-basis to be sure to display 3 cards on the same line, whatever the gap is */
    flex-basis: 26%;
    flex-grow: 1;
}

.card-horizontal
{
    width: 100%;
}

.card-container
{
    display: flex;
    margin: 5px;
    width: 100%;
}

.card-container-vertical
{
    flex-direction: column;
}

.card-container-horizontal
{
    flex-direction: row;
}

.card-image
{
    position: relative;
    overflow: hidden;
    
    border-radius: 17px;
}

.card-image-vertical
{
    min-height: 115px;
    width: 100%;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-image-horizontal
{
    margin-right: 10px;
    min-height: 135px;
    max-width: 130px;
    display: flex;
    flex: 1;
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card-image img
{
    /* Center the image, and force it to overflow just a bit */
    /* (to hide 1px line at the top) */
    width: 101%;
    height: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    filter: opacity(1);
}

.card:hover .card-image
{
    /* Activate the blue background only on the hover, */
    /* to prevent the blue background to appear in the corner (border radius problems) */
    background-color: var(--dark-blue);
}

.card:hover .card-image img
{
    /* Zoom the image when hover, and let's see a bit of the background (blue) */
    width: 120%;
    height: 120%;

    filter: opacity(0.75);
}

.card-image img, .card-name, .card-price
{
    transition-duration: .3s;
    transition-timing-function: ease;
}

.card:hover .card-name, .card:hover .card-price
{
    color: var(--dark-blue);
}

.card-body
{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 10px 5px 10px ;
    height: 100%;
    justify-content: space-between;
}

.card-name
{
    margin: 0;
}

.card-price
{
    margin: 8px 0;
    
    font-size: 14px;
}

.card-notation
{
    /* Change the font size to reduce the space between the stars */
    font-size: 2px;
    
    color: var(--dark-blue);
}

.card-notation .fa-star
{
    font-size: 12px;
}

.star-empty
{
    color: var(--dark-grey);
}

/* Activities section */

#section-activities
{
    margin: 45px 0 60px 0;
}

#activities-title
{
    margin-bottom: 25px;
}

#activities-list
{
    display: flex;
    row-gap: var(--activity-gap);
    width: 100%;
    height: var(--activity-base-height);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.activity
{
    flex-grow: 1;
    /* Width to have the gap between the 4 columns */
    width: calc(25% - var(--activity-gap)*3/4);

    /* Remove hypertext decoration (<a> tag) */
    color: inherit; 
    text-decoration: none;
}

.activity-full
{
    height: var(--activity-base-height);
}

.activity-bigger
{
    height: calc(0.534 * var(--activity-base-height));
}

.activity-smaller
{
    height: calc(0.376 * var(--activity-base-height));
}

.activity-small
{
    height: calc(0.438 * var(--activity-base-height));
}

.activity-big
{
    height: calc(0.472 * var(--activity-base-height));
}

.activity-container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 20px var(--dark-grey);
}

.activity-image
{
    position: relative;
    height: 100%;

    overflow: hidden;
}

.activity-image img
{
    /* Center the image, and force it to overflow just a bit */
    /* (to hide 1px line at the top) */
    width: 101%;
    height: 101%;
    position: absolute;
    object-fit: cover;


    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: opacity(1);
}

.activity:hover .activity-image
{
    /* Activate the blue background only on the hover, */
    /* to prevent the blue background to appear in the corner (border radius problems) */
    background-color: var(--dark-blue);
}

.activity:hover .activity-image img
{
    /* Zoom the image when hover, and let's see a bit of the background (blue) */
    width: 120%;
    height: 120%;

    filter: opacity(0.75);
}

.activity-body
{
    display: flex;
    height: 55px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
}

.activity-name
{
    margin: 0 20px;
}

.activity-image, .activity-image img, .activity-name
{
    transition-duration: .3s;
    transition-timing-function: ease;
}

.activity:hover .activity-name
{
    color: var(--dark-blue);
}

/* Footer */

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--light-grey);
}

#footer-content
{
    display: flex;
    padding: 50px var(--global-sides-padding);
    gap: 20px;
}

.footer-column
{
    flex: 1;
}

.footer-title
{
    margin-bottom: 25px;
}

.footer-links
{
    margin: 0;
    padding: 0;
}

.footer-link
{
    list-style-type: none;
    margin-top: 15px;
}

.footer-link a
{
    /* Remove hypertext decoration (<a> tag) */
    color: inherit; 
    text-decoration: none;
}