*
{
    box-sizing: border-box;
    /* border: 5px solid red; */
}

body
{
    margin: 0 0 0 0;
}

#main-wrapper
{
    font-family: sans-serif;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

/* Header  */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header img
{
    margin-left: 70px;
    object-fit: contain;
}

nav ul
{
    display: flex;
    margin: 0 0 0 0;
    padding-left: 0;
}

nav li
{
    list-style-type: none;
    padding: 40px 30px 20px 30px;
    border-top: 4px solid transparent;
    text-align: center;
}

nav li:hover
{
    border-color: #0065FC;
}